body {
    background-color: white;
  }
  img {
    margin-top: 20px;
  }
  .a {
    width: 600px;
    border: 2px solid #000;
  }
  .b {
    width: 600px;
    border: 1px solid #000;
  }
  div ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
  }
  div ul li {
    margin: 25px;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
  }